:root {
  --color-dark: #050003;
  --color-orange: #FFA739;
  --color-yellow: #FCE07F;
  --color-white: #FFFFFF;
}

/* Estilos generales */
.form-signin {
  width: 25%;
  margin: auto;
  padding: 2rem;
  background-color: var(--color-white); /* Fondo blanco */
  border: 10px solid var(--color-orange); /* Borde naranja */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título */
.form-signin h1 {
  color: var(--color-dark); /* Texto oscuro */
}

/* Inputs */
.form-control {
  background-color: var(--color-white);
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
}

.form-control {
  border-color: var(--color-orange);
  box-shadow: 0 0 0 0.25rem rgba(255, 167, 57, 0.25);
}

/* Labels */
.form-floating label {
  color: var(--color-dark);
}

/* Botón */
.btn-login {
  background-color: #FCE07F; /* Amarillo */
  color: var(--color-dark); /* Texto oscuro */
  border: none;
  border-radius: 0 15px;
  text-align: center;
  padding: 15px 10px;
  margin: 5px;
  font-weight: bold;
  transition: all 0.3s;
}

.btn-login:hover {
  background-color: #f8d76e; /* Amarillo más oscuro al hover */
  transform: translateY(-2px);
}

/* Enlace de registro */
.register-link {
  color: var(--color-dark);
}

.register-link a {
  color: var(--color-orange);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.register-link a:hover {
  color: #e6952e; /* Naranja más oscuro al hover */
  text-decoration: underline;
}

.div{
  font-family: "DM Sans", sans-serif;
}