  body {
    background-color: #121212; /* color-dark */
    color: #fff;
  }

  .form-signin {
    max-width: 400px;
    padding: 2rem;
    border-radius: 10px;
    background-color: #dbeeff; /* color-lightest-blue */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  .btn-login {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    padding: 0.75rem;
    width: 100%;
    border: none;
    border-radius: 8px;
  }

  .btn-login:hover {
    background-color: #0056b3;
  }

  .form-check-input:checked {
    background-color: #007bff;
    border-color: #007bff;
  }

  .form-check-label {
    color: #000;
  }
